/* Imports the Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables for this website */
:root {
    --primary: #000043;
    --secondary: #e69c1d;
    --primary-tint: #171755;
    --primary-shade: #04041f;
    --secondary-tint: #ffc45f;
    --secondary-shade: #ba7a0c;

    --light: hwb(260 96% 0%);
    --white: #ffffff;
    --white-shade: #b5b5b5;
    --dark: #03031a;

    --muted: #e9e8f0;
    --muted-tint: #eae9f1;
    --muted-shade: #938fa8;

    --font-normal: "Atkinson Hyperlegible Mono", sans-serif;
    --font-heading: "Anonymous Pro", monospace;
    ;

    --space-0: 0;
    /* 0px */
    --space-1: 0.5rem;
    /* 4px */
    --space-2: 1rem;
    /* 16px */
    --space-3: 2rem;
    /* 32px */
    --space-4: 3rem;
    /* 64px */
    --space-5: 4rem;
    /* 128px */
    --space-6: 5rem;
    /* 256px */
    --space-7: 6rem;
    /* 512px */
    --space-8: 7rem;
    /* 1024px */
    --shadow-dark: 0 0.1rem 0.2rem 0.1rem rgba(54, 48, 41, 0.2);
    --shadow-light: 0 0.1rem 0.2rem 0.1rem rgba(255, 255, 255, 0.5);
}

/* CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*will force elements to scale from the border instead*/
}

body, ul, li {
    font-family: var(--font-heading);
    line-height: 1.5;
            list-style-type: none;   
}

h1, p,h2, h3, h4, h2, h6, label, input, textarea, select  {
    font-family: var(--font-normal);

    color: var(--primary)
}

p {
    font-size: 1rem;
}

main {
    align-content: center;
}

.container {
    max-width: 1500px;
    margin: auto;
            border-color: var(--dark);
}

.index-container {
    margin-top: 5rem;
}

.content-container {
    margin-top: 10rem;
}

/* Buttons */

.btn {
    border: none;
    border-radius: var(--space-2);
    padding: var(--space-1) var(--space-2);
    cursor: pointer;
    font-size: 1.5rem;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--light);
}

.btn-primary:hover {
    background-color: var(--primary-tint);
}

.btn-primary:active {
    background-color: var(--primary-shade);
}

.btn-secondary {
    background-color: var(--muted);
    color: var(--dark);
}

.btn-secondary:hover {
    background-color: var(--muted-tint);
}

.btn-secondary:active {
    background-color: var(--muted-shade);
}

.link {
    text-decoration: none;
    cursor: pointer;
}

.news-image:hover {
    color: var(--primary-tint);
}

/* Coloring */

.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-light {
    background-color: var(--light);
}

.bg-white {
    background-color: var(--white);
}

.bg-dark {
    background-color: var(--dark);
}

.bg-muted {
    background-color: var(--muted);
}

.primary-shadow {
  box-shadow: inset 0 0 var(--space-3) var(--primary-shade);
}

.secondary-shadow {
    box-shadow: inset 0 0 var(--space-3) var(--secondary-shade);
}

.muted-shadow {
    box-shadow: inset 0 0 var(--space-8) var(--muted-shade);
}

.white-shadow {
    box-shadow: inset 0 0 var(--space-1) var(--white-shade);
}


.text-primary {
    color: var(--primary);
}

.text-light {
    color: var(--light);
}

.text-dark {
    color: var(--dark);
}

.text-muted {
    color: var(--muted);
}

.shadow-dark {
    box-shadow: var(--shadow-dark)
}

.shadow-light {
    box-shadow: var(--shadow-light)
}

/* Components for Index + Navigation Banner Images*/

.banner-image {
    position: relative;    
    width: 100%;
    aspect-ratio: 4/1;
    object-fit: cover;
    /*This will tell the news-tag to behave.*/
}


.banner-image .banner-tag {
    background-color: var(--dark);
    color: var(--light);
    box-shadow: var(--shadow-light);
    padding: var(--space-1);
    border-radius: var(--space-3);
    position: absolute;
    top: var(--space-2);
    left: var(--space-2);
}

.nav-image {
    height: 100%;
    appearance: none;
    background: none;
}

.news-image {
    position: relative;
        width: 100%;
    /*This will tell the news-tag to behave.*/
}

.news-image img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}

.curved {
    border-radius: var(--space-1);
}

/* Layout */
.d-flex {
    display: flex;
}

.flex-between {
    justify-content: space-between;
}

.grid-2col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Repeat 1fr Twice */
}

.grid-3col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Repeat 1fr Three Times */
}

.grid-4col {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Repeat 1fr Four Times */
}

#main-banner {
    justify-content: space-between;
}

/* Spacing */

.m-0 {    margin: var(--space-0);}
.m-1 {    margin: var(--space-1);}
.m-2 {    margin: var(--space-2);}
.m-3 {    margin: var(--space-3);}
.m-4 {    margin: var(--space-4);}
.m-5 {    margin: var(--space-5);}
.m-6 {    margin: var(--space-6);}
.m-7 {    margin: var(--space-7);}
.m-8 {    margin: var(--space-8);}

.p-0 {    padding: var(--space-0);}
.p-1 {    padding: var(--space-1);}
.p-2 {    padding: var(--space-2);}
.p-3 {    padding: var(--space-3);}
.p-4 {    padding: var(--space-4);}
.p-5 {    padding: var(--space-5);}
.p-6 {    padding: var(--space-6);}
.p-7 {    padding: var(--space-7);}

.gap-0 {    gap: var(--space-0);}
.gap-1 {    gap: var(--space-1);}
.gap-2 {    gap: var(--space-2);}
.gap-3 {    gap: var(--space-3);}

/* Navigation */

nav ul {
    font-size: 2.2rem;
    padding: var(--space-2);
    text-align: center;
}

ul a{
    color: inherit;
    font-size: inherit;
    text-decoration: none;
    text-align: center;
}

.fixed {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Table */

table {
    border-collapse: collapse;
    width: 100%;
}

table tr,
td {
    border: 3px solid var(--primary);
    font-size: 1.3rem;
    text-align: left;
    padding: 0.5rem;
    color: var(--primary-tint)
}

/************************* SECTION PERIADDDDDDDDDDDD********************/

.section {
    border-radius: var(--space-2);
    padding: var(--space-2) var(--space-8) var(--space-2) var(--space-8);
}

.section h1 {
    border-bottom: var(--primary) solid 4px;
}

.section p {
    font-size: 1.5rem;
}

/******************** form thing***********************************/

.contact-form label {
    display:block;
}

label, a, figcaption {
    font-size: 2em;
}

.contact-form input,
.contact-form textarea,
.contact-form select, textarea, select, label {
    appearance: none;
    display: block;
    font-family: var(--font-normal);
    font-size: 2rem;
    padding: var(--space-1);
    text-align: left;
    width: 100%;
}


select {
    font-size: 1.3rem;
    appearance: none;
    display: block;
}

.contact-form textarea {
    resize: none;
}

.contact-form div {
    margin: var(--space-1) 0;
}

.center {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.left {
    text-align:left;
}

.block {
    aspect-ratio: 1/1;
}